* { font-family: "Zalando Sans SemiExpanded" }



.about1           {display: flex;
                   flex-direction: column;
                   margin-top: 1em;
                   padding-top: 3em;
                   padding-bottom: 3em;
                   padding-left: 5em;
                   background-color: rgb(246, 241, 241);}

.about1 > H1      {padding-bottom: 0.4em}

.about1 > P       {max-width: 35em;
                   padding-left: 0.2em;}

.link             {margin-top: 0.5em;
                   padding-left: 0.1em}


        
        @media (max-width: 768px)

                  {.about1 {padding-right: 3em}
                   .link {font-size: 1.5em;}}   
