* { font-family: "Zalando Sans SemiExpanded" }

.kreator-title-container {
                    background-color: rgb(246, 241, 241);
                    text-align: center;
                    width: 100%;
                    border-bottom: 2px solid #ddd;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 1em;
                    height: 4em;
                    line-height: 0.2em;
                    max-width: 100%;
                    border-radius: 0.2em;}

.kreator-title     {font-size: 1.8em;
                    background-color: rgb(246, 241, 241);
                    font-weight: 900;   
                    letter-spacing: 0.05em;
                    color: #333;
                    font-style: normal;
                    padding-top: 0.6em;}

.kreator           {display: grid;
                    grid-template-columns: 16em 1fr 16em 1fr;
                    grid-template-rows: auto;
                    background-color: rgb(246, 241, 241);
                    border-radius: 0.2em;}

.kreator-box       {display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgb(246, 241, 241);
                    height: auto;}


.kreator-image     {max-height: 82%;
                    max-width: 100%;
                    object-fit: cover;
                    border-radius: 1em;
                    border: 0.1em solid #FA7D32;
                    margin-top: 0.5em;

}
            
.kreator-info      {display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: center;
                    padding-left: 1em;}

.kreator-info h2   {margin-bottom: 0.1em;}

.quote             {font-style: italic;
                    margin:0;
                    font-size: 0.9em;
                    border-bottom: 0.1em solid #ddd;
                    padding-bottom: 0.5em;
                    max-width: 20em;}
 
.bio               {max-width: 21em;
                    min-width: 10em;
                    padding-top: 0.5em;}

.socialmedia       {display: flex;
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    gap: 3em;
                    padding-left: 0.5em;
                    width: 14em;}

.socialmedia a     {text-decoration: none;
                    display: inline-block;}
            
                   
.socialmedia  img  {width: 2em;
                    height: 2em;
                    display: block;
                    object-fit: contain;}

.socialmedia  img:hover
                   {cursor: pointer;
                    transform: scale(1.1);
                    transition: transform 0.3s ease;}




             @media (max-width: 1000px) {

.kreator           {grid-template-columns: 1fr;
                    grid-template-rows: repeat(4, auto);                  
                    }         

.kreator > *       {display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    margin: 0em;
                    padding: 0em;
                    }}

.kreator-image     {
                    
                    margin-top: 0em;
                    padding-top: 0em;
                    padding: 0.5em;
                    border: none}

.kreator-info      {margin-top: 0em;
                    padding-top: 0em;
                    padding-bottom: 0em;}

.kreator-info h2   {margin: 0em;
                    padding: 0em;}


.socialmedia       {border-top: 0.1em solid #ddd;
                    justify-content: flex-start;
                    padding: 0.5em;
                    gap: 2em;
}  





                 
                   
                   
          